  .do-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    height: 80%;
  }
  
  .header {
    background-color: #333;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .profile-icon {
    background-color: #ff6f61;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .timer {
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .question {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  .options {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .option {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: left;
  }
  
  .nav-button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #ff8a80;
  }